<template name="login">
  <form class="form-signin text-center">
    <h2 class="form-signin-heading">Medium Arg Login</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" name="email" id="email" class="form-control" placeholder="Email address" required autofocus>
    <label for="password" id="password" name="password" class="sr-only">Password</label>
    <input type="password" id="password" name="password"  class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <br>
    <p>Not registered? <a href="/register"> Register now!</a></p>
  </form>
</template>
